

html {
    scroll-behavior: smooth;

}
:root {
    --primary-color: #00605f;
    --secondary-color: #017479;
    --branding-color: #33ccff; 
    --text-dark: #0f172a;
    --text-light: #ffffff;
    --max-width: 14000px;
    --heading-font-family: "playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: var(--default-font-family);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    background: #e8f2f5;
    padding-top: 60px;
   
}
/* Top header style*/
.top-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px;            
    color: var(--text-light); 
    text-align: center;    
     
}

/* Navbar styles*/
.navbar {
    background-color: var(--primary-color);
    position: fixed;  
    top: 0;            
    width: 100%;       
    z-index: 1000;     
}

.navbar .nav-link {
    color: var(--text-light); 
    padding: 10px 15px;
}

.navbar .nav-link:hover {
     color: var(--branding-color);
}

.navbar-toggler {
    background-color: var(--branding-color); 
}

.nav-logo {
     margin-left: 7px; 
}

/*hero section styles */
.slide-item{
    height: 580px;
    
}
.slide-img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption h1 {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: var(--secondary-color);
    background: linear-gradient(8deg,rgb(237, 242, 244) 0%,rgb(238, 239, 241) 41%,rgb(241, 243, 247) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.carousel-caption p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    bottom: 20%; 
    text-align: center;
   
}

.carousel-caption .btn{
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding: 0.75rem 2.5rem;
    font-size: 1.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.carousel-caption .btn:hover{
    background-color: var(--branding-color);
    transform: scale(1.1);
}

.carousel-item {
    transition: transform 1s ease-in-out;
}
/*popular destination style*/

.popular-destinations h3,
.popular-destinations p{
    font-family: var(--heading-font-family);
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.popular-destinations .card-body p,
.card-body h4 {
    font-family: var(--default-font-family);
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 2px;
}

.popular-destinations {
    margin-top: 1rem;
    gap: 2rem 1rem;
}

.destination-card img {
    border-radius: 1.5rem;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.2);
    transition: all .5s ease-out 0s;
}

.destination-card img:hover {
    transform: scale(0.9);
    opacity: 0.3;
}
.destination-rating{
    padding: 5px 10px;
    font-size: 0.9rem;
    white-space: nowrap;
    color: var(--text-light);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    transition: 0.3s;
}

.destination-rating:hover{
    background-color: var(--branding-color);
}

/*suggested for you*/
.container-suggested-for-you {
    background-color: #00605f;

}

.lead {
    text-align: left;
    color: #9a9797;
}

.card {
    background: #14423f;
}
.card:hover {
    background-color: transparent;
    transform: translateY(-8%);
    border-color: #0cea5d;
}

.card-body i {
    font-size: 50px;
    color: #9a9797;
}

.card-body:hover i {
    color: #0cea5d;
 }

.headline-title{
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

.card .btn{
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding: 0.75rem 2.5rem;
    font-size: 1.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card .btn:hover{
    background-color: var(--branding-color);
    transform: scale(1.1);
}

/*What we do*/
.tm-intro-text {
    font-family: var(--heading-font-family);
}

.tm-section-title{
     font-family: 'Cinzel', serif;
}

.tm-icon {
    font-size: 24px;
   
}

.tm-btn {
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding: 0.75rem 2.5rem;
    font-size: 1.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.tm-btn .btn:hover {
    background-color: var(--branding-color);
    transform: scale(1.1);
}
/*Review section*/
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--branding-color);
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
    align-items: center;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
}
/*footer*/
.footer {
    background-color: rgb(137, 134, 134);
}
   
@media (max-width: 768px) {
    body {
        padding-top: 80px; 
    }
.carousel-caption h1 {
    font-size: 2.5rem;
}
.carousel-caption p {
     font-size: 1rem;
}
.btn {
     padding: 1rem 3rem;
}

 #what-we-do .row.tm-content-box {
     display: flex;
     flex-direction: column;
     align-items: center;
}
    
#what-we-do .col-lg-6 {
     width: 100%;
     justify-content: flex-start;
     text-align: center;
     margin-bottom: 20px;
    }
    
#what-we-do .tm-intro-text-container h5,
#what-we-do .tm-intro-text-container p {
     text-align: center;
}
    
#what-we-do .tm-icon {
     display: none;
}
 #what-we-do .tm-intro-text-container h5 {
     color: #0077be; 
}
#what-we-do .tm-intro-text-container p {
    text-align: left;
}
}
    